0.0.0.0

# LB will handle encryption
tls off

log / stdout "{common} {latency_ms} {request_id} {~jwt_token} {>Token-Claim-User} {>Referer} \"{>User-Agent}\""

errors stdout

root /srv

# generate reguest id
request_id

# send request id header back to browser
header /  "X-Request-Id" {request_id}

# which path should be protected and where to redirect, when jwt is not present
jwt {
   path /
   redirect /login
}

# /login configuration
login {
    success_url /
    # template /login.tmpl
    github client_id=e32281efc684086f9b5e,client_secret=800ceafebb5cb2f303dfd829fe46985fcb5ac475
}

# reverse proxy to ext site http://volkswagen.com
# test http://192.168.32.128:2015/en.html
# problem with http URL redirects 301/302, web resource path

#proxy /volkswagen http://volkswagen.com {
#  without /volkswagen
#}

proxy / backend:8081 {
  transparent
  header_upstream X-Request-Id {request_id}
}

#proxy / http://volkswagen.com {
#
#}
